<div class="p-3">
  <div class="border bg-light border-black border-1 rounded-4">
    <!--  Title-->
    <div class="container pt-5">
      <p class="fw-bold fs-4">{{ lecture.title }}</p>
    </div>

    <!--  Lecture details-->
    <div class="container border border-secondary border-1 rounded-4 pt-3">
      <p class="bg-secondary-subtle rounded-3 p-1">{{ lecture.domain }}</p>
      <p>{{ lecture.languages }}</p>
      <p>{{ lecture.totalPlaces - lecture.totalEnrolled }} places left</p>

      <!-- Student only: enroll me/unavailable-->
      <div
        *ngIf="authService.isLoggedIn() && authService.isStudent()"
        class="d-flex justify-content-end m-2">

        <div *ngIf="!enrolled">
          <button
            *ngIf="lecture.totalPlaces - lecture.totalEnrolled > 0 && !hasLectureEnded()"
            class="btn btn-enroll btn-success"
            (click)="enrollInLecture()">
            enroll me
          </button>

          <button
            *ngIf="lecture.totalPlaces - lecture.totalEnrolled == 0 || hasLectureEnded()"
            class="btn btn-unavailable btn-click"
            disabled>
            unavailable
          </button>
        </div>

        <button
          *ngIf="enrolled"
          class="btn btn-info"
          disabled>
          enrolled
        </button>
      </div>
    </div>


  </div>
</div>
