<div class="p-3">
  <div class="border bg-light border-black border-1 rounded-4">
    <!--  Title-->
    <div class="container pt-5">
      <p class="fw-bold fs-4">{{ lecture.title }}</p>
<!--      <div (click)="showLectureDetails(lecture)">-->
<!--        <p>details</p>-->
<!--      </div>-->
    </div>

    <!--  Lecture details-->
    <div class="container border border-secondary border-1 rounded-4 pt-3">
      <p class="bg-secondary-subtle rounded-3 p-1">{{ lecture.domain }}</p>
      <p>{{ lecture.languages }}</p>
      <p>{{ lecture.totalPlaces - lecture.totalEnrolled }} places left</p>

      <!-- Teacher Only -->
      <div *ngIf="authService.isLoggedIn() && authService.isTeacher()">
        <!-- Circle buttons (Calendar + Stats) -->
        <div class="d-flex gap-2">
          <button
            class="btn btn-primary rounded-circle d-flex justify-content-center"
            style="width: 40px; height: 40px; font-size: 15px;"
            (click)="openCalendar()">
            📅
          </button>

          <button
            class="btn rounded-circle d-flex justify-content-center"
            style="width: 40px; height: 40px; font-size: 15px; background-color: lightblue"
            (click)="openStats()">
            📊
          </button>
        </div>
      </div>


      <!-- Student only: enroll me/unavailable-->
      <div
        *ngIf="authService.isLoggedIn() && authService.isStudent()"
        class="d-flex justify-content-end m-2">

        <div *ngIf="!enrolled">
          <button
            *ngIf="lecture.totalPlaces - lecture.totalEnrolled > 0 && !hasLectureEnded()"
            class="btn btn-enroll btn-success"
            (click)="enrollInLecture()">
            enroll me
          </button>

          <button
            *ngIf="lecture.totalPlaces - lecture.totalEnrolled == 0 || hasLectureEnded()"
            class="btn btn-unavailable btn-click"
            disabled>
            unavailable
          </button>
        </div>

        <button
          *ngIf="enrolled"
          class="btn btn-info"
          disabled>
          enrolled
        </button>
      </div>
    </div>


    <!-- Calendar Modal -->
    <div class="modal fade show d-block" tabindex="-1" *ngIf="showCalendarModal" style="background: rgba(0, 0, 0, 0.5);">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enrollments Calendar</h5>
            <button type="button" class="btn-close" (click)="closeCalendarModal()"></button>
          </div>
          <div class="modal-body">
            <app-enrollment-calendar [lecture]="lecture"></app-enrollment-calendar>
          </div>
        </div>
      </div>
    </div>

    <!-- Stats Modal -->
    <div class="modal fade show d-block" tabindex="-1" *ngIf="showStatsModal" style="background: rgba(0, 0, 0, 0.5);">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enrollment Stats</h5>
            <button type="button" class="btn-close" (click)="closeStatsModal()"></button>
          </div>
          <div class="modal-body">
            <app-enrollment-stats [lecture]="lecture"></app-enrollment-stats>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
