<div class="p-3">
  <div class="border bg-light border-black border-1 rounded-4">
    <!--  Title-->
    <div class="container pt-5">
      <p class="fw-bold fs-4">{{ lecture.title }}</p>
    </div>

    <!--  Lecture details-->
    <div class="container border border-secondary border-1 rounded-4 pt-3">
      <p class="bg-secondary-subtle rounded-3 p-1">{{ lecture.domain }}</p>
      <p>{{ lecture.languages }}</p>
      <p>{{ lecture.totalPlaces - lecture.totalEnrolled }} places left</p>
    </div>
  </div>
</div>
