<div style="height: 80px; background-color: #3423A6">
  <div class="container pt-3">
    <a href="/home"><img src="/LearntribeLogoLong_white.svg" alt="Website Logo SVG (White)" width="15%"/></a>
  </div>
</div>
<div class="backgnd">
  <div class="container p-5">
    <div class="row">
      <div class="col p-5" style="font-size: 40px; font-weight: bold">
        <span style="color: #E84EE8; margin: 0">Sign in</span>
        <span style="color: #2E1760"> and join the</span>
        <p style="color: #2E1760">new era of learning</p>
      </div>

      <div class="col mt-5 p-5 border border-black rounded-4">
        <div class="form-check d-flex align-items-start justify-content-center flex-column">

          <form [formGroup]="loginForm" (ngSubmit)="register()">
<!--            Email field-->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                     aria-describedby="emailHelp">
            </div>
<!--            Username field-->
            <div class="mb-3">
              <label for="exampleInputUsername1" class="form-label">Username</label>
              <input type="text" formControlName="username" class="form-control" id="exampleInputUsername1"
                     aria-describedby="usernameHelp">
            </div>
<!--            Password field-->
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" formControlName="password2" class="form-control" id="exampleInputPassword1" contro>
            </div>
<!--            Role field-->
            <div class="mb-3">
              <label for="exampleInputRole1" class="form-label">Role</label>
<!--              <select type="text" formControlName="role2" class="form-control" id="exampleInputRole1" contro>-->
              <select name="role" id="exampleInputRole1" class="form-control" formControlName="chooseRole">
                <option value="Teacher">Teacher</option>
                <option value="Student">Student</option>
              </select>
            </div>
            @if (errorMessage) {
              <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
              </div>
            }

            <div style="margin-top: 80px">
              <span>Already have an account? </span><a href="/auth/login">Login</a>
              <div class="d-flex justify-content-start mt-4">
                <button type="submit" class="btn" style="background-color: #8CFF98">Sign in</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
