<div >
  <div class="container pt-2 pb-2">
    <div class="row">
<!--      Col 1-->
      <div class="col">
        <div class="d-flex align-items-start justify-content-center">
          <img src="/LearntribeLogoLong.svg" alt="Website Logo SVG" width="65%"/>
        </div>
      </div>

<!--      Col 2-->
      <div class="col-6">
        <div class="d-flex align-items-center justify-content-center">
          <button class="btn m-2" (click)="navigate.goToPage('home')">
            Home
          </button>
          <button class="btn m-2" (click)="navigate.goToPage('lectures')">
            Lectures
          </button>
          <button class="btn m-2" (click)="navigate.goToPage('contact')">
            Contact
          </button>
        </div>
      </div>

<!--      Col 3-->
      <div class="col">
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <i class="m-2 fa-solid fa-magnifying-glass fa-xl"></i>
          </div>
          <button class="btn border-black rounded-3 m-2" (click)="navigate.goToPage('auth/login')">
            Log in
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
